<html>

<head>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="/css/index.css" rel="stylesheet">
</head>

<body>

</body>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="main_page_div">
			<div id="logo_div">
				<center>
				<img id="logo" src="/img/Gb-Logo.png"><br><br>
				<button id="login_button" type="button" class="btn btn-default">Login</button><br><br>
				<button id="invite_button" type="button" class="btn btn-default">Invite</button>
				</center>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>

</html>